{% extends 'base.html.twig' %}

{% block title %}Edit Illustration{% endblock %}

{% block body %}
    <h1>Edit Illustration</h1>

    {{ include('objet_illustration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('objet_illustration_index') }}">back to list</a>

    {{ include('objet_illustration/_delete_form.html.twig') }}
{% endblock %}
