{% extends 'base.html.twig' %}

{% block title %}New Illustration{% endblock %}

{% block body %}
    <h1>Create new Illustration</h1>

    {{ include('objet_illustration/_form.html.twig') }}

    <a href="{{ path('objet_illustration_index') }}">back to list</a>
{% endblock %}
